asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.4
beautifulsoup4==4.9.3
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cssselect==1.1.0
cssutils==1.0.2
decorator==4.0.11
Django==3.1.4
django-ckeditor==6.0.0
django-cleanup==5.1.0
django-crispy-forms==1.10.0
django-js-asset==1.2.2
Flask==1.1.2
Flask-Cors==3.0.9
future==0.18.2
huepy==1.2.1
idna==2.10
imageio==2.1.2
imageio-ffmpeg==0.4.2
iniconfig==1.1.1
instabot==0.117.0
InstagramAPI==1.0.2
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.1
MarkupSafe==1.1.1
mock==4.0.2
moviepy==0.2.3.2
numpy==1.19.4
packaging==20.4
Pillow==8.0.1
pluggy==0.13.1
praw==7.1.0
prawcore==1.5.0
premailer==3.7.0
proglog==0.1.9
py==1.9.0
pycodestyle==2.6.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.1.2
pytz==2020.4
requests==2.11.1
requests-toolbelt==0.7.0
responses==0.12.0
schedule==0.6.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
toml==0.10.2
tqdm==4.11.2
update-checker==0.18.0
urllib3==1.25.11
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
yagmail==0.14.245
